{% if site.analytics.facebook_pixel.pixel_id %}
<!-- Meta Pixel Code - Deferred loading for performance -->
<script>
(function() {
  function loadFacebookPixel() {
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ site.analytics.facebook_pixel.pixel_id }}');
    fbq('track', 'PageView');
  }
  // Delay pixel load to avoid blocking page load metrics
  if ('requestIdleCallback' in window) {
    requestIdleCallback(function() { setTimeout(loadFacebookPixel, 2500); });
  } else {
    setTimeout(loadFacebookPixel, 3500);
  }
})();
</script>
<noscript>
  <img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id={{ site.analytics.facebook_pixel.pixel_id }}&ev=PageView&noscript=1"/>
</noscript>
<!-- End Meta Pixel Code -->
{% endif %}
