---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy-section">
    <h2 class="archive-subtitle">{{ year.name }}</h2>
    <ul class="entries-{{ entries_layout }}" role="list">
      {% for post in year.items %}
        <li class="list-item">
          <article class="archive-item">
            <div class="archive-item-date">{{ post.date | date: "%B %d, %Y" }}</div>
            <h3 class="archive-item-title">
              <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
            </h3>
            {% if post.excerpt %}
              <div class="archive-item-excerpt">
                {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
              </div>
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ul>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
