@use "sass:color";

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/*
   Breadcrumb navigation links
   ========================================================================== */

.breadcrumbs {
  @include clearfix;

  margin: 0 auto;
  max-width: 100%;
  padding-inline: $spacing-md;
  font-family: $sans-serif;
  animation: $intro-transition;
  animation-delay: $timing-medium;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  ol {
    padding: 0;
    list-style: none;
    font-size: $type-size-6;

    @include breakpoint($large) {
      float: inline-end;
      width: calc(100% - #{$right-sidebar-width-narrow});
    }

    @include breakpoint($x-large) {
      width: calc(100% - #{$right-sidebar-width});
    }
  }

  li {
    display: inline;
  }

  .current {
    font-weight: bold;
  }
}

/*
     Post pagination navigation links
     ========================================================================== */

.pagination {
  @include clearfix;

  float: inline-start;
  margin-top: $spacing-md;
  padding-top: $spacing-md;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: $sans-serif;
  }

  li {
    display: block;
    float: inline-start;
    margin-inline-start: -1px;

    a {
      display: block;
      margin-bottom: 0.25em;
      padding: $spacing-sm 1em;
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: $line-height-tight;
      text-align: center;
      text-decoration: none;
      color: $muted-text-color;
      border: 1px solid $border-color-dark;
      border-radius: 0;

      &:hover {
        color: $link-color-hover;
      }

      &.current,
      &.current.disabled {
        color: $white;
        background: $primary-color;
      }

      &.disabled {
        color: rgba($muted-text-color, 0.5);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &:first-child {
      margin-inline-start: 0;

      a {
        border-start-start-radius: $border-radius;
        border-end-start-radius: $border-radius;
      }
    }

    &:last-child {
      a {
        border-start-end-radius: $border-radius;
        border-end-end-radius: $border-radius;
      }
    }
  }

  /* next/previous buttons */
  &--pager {
    display: block;
    padding: $spacing-md $spacing-xl-em;
    float: inline-start;
    width: 50%;
    font-family: $sans-serif;
    font-size: $type-size-5;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: $muted-text-color;
    border: 1px solid $border-color-dark;
    border-radius: $border-radius;

    &:hover {
      @include yiq-contrasted($muted-text-color);
    }

    &:first-child {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &:last-child {
      margin-inline-start: -1px;
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    &.disabled {
      color: rgba($muted-text-color, 0.5);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  margin-top: $spacing-xl-em;
  padding-top: $spacing-xl-em;
  border-top: 1px solid $border-color;
}

/*
     Priority plus navigation
     ========================================================================== */

.greedy-nav {
  position: relative;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: $nav-height;
  background: $background-color;

  a {
    display: block;
    margin: 0 1rem;
    color: $masthead-link-color;
    text-decoration: none;
    transition: none;

    &:hover {
      color: $masthead-link-color-hover;
    }

    &.site-logo {
      margin-inline: 0 $spacing-sm-rem;
    }

    &.site-title {
      margin-inline-start: 0;
    }
  }

  img {
    transition: none;
  }

  &__toggle {
    -ms-flex-item-align: center;
    align-self: center;
    height: $nav-toggle-height;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  .visible-links {
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;

    li {
      -webkit-box-flex: 0;
      flex: none;
    }

    a {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;
        height: $border-accent-width;
        background: $primary-color;
        width: 100%;
        transition: $global-transition;
        transform: scaleX(0) translate3d(0, 0, 0); // hide
      }

      &:hover::before {
        transform: scaleX(1); // reveal
      }
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    inset-inline-end: 0;
    margin-top: $spacing-sm-px;
    padding: $spacing-xxs-px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    box-shadow: $box-shadow-dropdown;

    &.hidden {
      display: none;
    }

    a {
      margin: 0;
      padding: $spacing-xs-px 20px;
      font-size: $type-size-5;

      &:hover {
        color: $masthead-link-color-hover;
        background: $navicon-link-color-hover;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -11px;
      inset-inline-end: $spacing-xs-px;
      width: 0;
      border-style: solid;
      border-width: 0 $spacing-xs-px $spacing-xs-px;
      border-color: $border-color transparent;
      display: block;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      inset-inline-end: $spacing-xs-px;
      width: 0;
      border-style: solid;
      border-width: 0 $spacing-xs-px $spacing-xs-px;
      border-color: $background-color transparent;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.no-js {
  .greedy-nav {
    .visible-links {
      flex-wrap: wrap;
      overflow: visible;
    }
  }
}

/*
     Navigation list
     ========================================================================== */

.nav__list {
  margin-bottom: $spacing-lg;

  input[type="checkbox"],
  label {
    display: none;
  }

  @include breakpoint(max-width $large-max) {
    label {
      position: relative;
      display: inline-block;
      padding: $spacing-sm 2.5em $spacing-sm 1em;
      color: $gray;
      font-size: $type-size-6;
      font-weight: bold;
      border: 1px solid $light-gray;
      border-radius: $border-radius;
      z-index: 20;
      transition: $transition-fast;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset-inline-end: $spacing-md;
        top: 1.25em;
        width: 0.75em;
        height: 0.125em;
        line-height: 1;
        background-color: $gray;
        transition: $transition-fast;
      }

      &::after {
        transform: rotate(90deg);
      }

      &:hover {
        color: $white;
        border-color: $gray;
        background-color: color.mix($white, $black, 20%);

        &::before,
        &::after {
          background-color: $white;
        }
      }
    }

    /* selected */
    input:checked + label {
      color: $white;
      background-color: color.mix(white, #000, 20%);

      &::before,
      &::after {
        background-color: $white;
      }
    }

    /* on hover show expand */
    label:hover::after {
      transform: rotate(90deg);
    }

    input:checked + label:hover::after {
      transform: rotate(0);
    }

    ul {
      margin-bottom: $spacing-md;
    }

    a {
      display: block;
      padding: 0.25em 0;

      @include breakpoint($large) {
        padding-top: 0.125em;
        padding-bottom: 0.125em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav__list .nav__items {
  margin: 0;
  font-size: 1.25rem;

  a {
    color: inherit;
  }

  .active {
    margin-inline-start: -$spacing-sm;
    padding-inline: $spacing-sm;
    font-weight: bold;
  }

  @include breakpoint(max-width $large-max) {
    position: relative;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 10;
    transition: $transition-medium;
    transform: translate(0, 10%);
  }
}

@include breakpoint(max-width $large-max) {
  .nav__list input:checked ~ .nav__items {
    transition: $transition-slow;
    max-height: 9999px; /* exaggerate max-height to accommodate tall lists */
    overflow: visible;
    opacity: 1;
    margin-top: $spacing-md;
    transform: translate(0, 0);
  }
}

.nav__title {
  margin: 0;
  padding: $spacing-sm-rem $spacing-md-rem;
  font-family: $sans-serif-narrow;
  font-size: $type-size-5;
  font-weight: bold;
}

.nav__sub-title {
  display: block;
  margin: $spacing-sm-rem 0;
  padding: 0.25rem 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-6;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
}

/*
     Table of contents navigation
     ========================================================================== */

.toc {
  font-family: $sans-serif-narrow;
  color: $gray;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  .nav__title {
    color: $white;
    font-size: $type-size-6;
    background: $primary-color;
    border-start-start-radius: $border-radius;
    border-start-end-radius: $border-radius;
  }

  // Scrollspy marks toc items as .active when they are in focus
  .active a {
    @include yiq-contrasted($active-color);
  }
}

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: $type-size-6;

  @include breakpoint($large) {
    font-size: $type-size-7;
  }

  a {
    display: block;
    padding: 0.25rem $spacing-md-rem;
    color: $muted-text-color;
    font-weight: bold;
    line-height: $line-height-tight;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: $text-color;
    }
  }

  li ul > li a {
    padding-inline-start: 1.25rem;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-inline-start: 1.75rem;
  }

  li ul li ul li ul > li a {
    padding-inline-start: 2.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-inline-start: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-inline-start: 3.25rem;
  }
}
